.white {
    color: #FFF !important;
}

.blue {
    color: #3498db;
}

.asphalt-blue {
    color: #34495e;
}

.carrot-orange {
    color: #e67e22;
}

.red {
    color: #e74c3c;
}

.dark-green {
    color: #27ae60;
}

.yellow {
    color: #f1c40f;
}

.dark-purple {
    color: #8e44ad;
}